.sourceViewerPanel {

	width: 98%;
	margin-right: 1%;
	margin-left: 1%;


	padding-bottom: 15px;

	border-top: 1px solid #333434;
}

.sourceViewerPanel .title {
	margin-top:10px;
	font-size: 1.1em;
}

.sourceViewerPanel table {

	margin-top: 5px;
	background: #1B171B;
	
	border-radius: 5px;

	width:100%;
  	border-collapse: collapse;
  	min-height: 50px;
  	max-height: 150px;
  	overflow:auto;
}

.nameCell {

	width:100px; 
  	max-width:200px;
  	min-width:100px;
  	overflow: hidden;
}

.numberCell {

	width:50px; 
  	overflow: hidden;
  	text-align: center;
}

.sourceViewerPanel table thead {
	border-bottom: 1px solid #333434;
}

	
.sourceViewerPanel table tbody tr td{
	padding-top: 3px;
	padding-bottom: 3px;
}

.sourceViewerPanel table tbody tr:nth-child(even) {

}
.sourceViewerPanel table tbody tr:nth-child(odd) {

}