#explorerMenubarContainer {
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	height: 40px;

	background-color: #171A0B;
}

#explorerMenubarContainer .menu {
	position: relative;
	height: 40px;
	width: 160px;
	float:left;
	margin-left: 10px;
}

#explorerMenubarContainer .menu .menuItem {
	display: inline-block;
	width: 40px;
	height:40px;
	text-align: center;
	line-height: 40px;
	font-size: 16pt;
}

#explorerMenubarContainer .logo {
	background: green;
	width: 195px;
	height: 40px;
	float:left;
}

#explorerMenubarContainer .menu .logoMenuItem {
	width: 40px;
	height:40px;
	background: blue;
}

#explorerMenubarContainer .menu .menuItem:hover{
	color: #FFFFFF;
	cursor: pointer;
}

.tooltip {
	background: #57594e;
	font-size: 12pt;
	color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #333434;

	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;
}