#explorerViewport {
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow:hidden;
	background: blue;
}

#scopeViewer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

#sourceViewer{
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	background: #272822;
	overflow:auto;
}

#resizebar {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 5px;
	z-index: 1;
	background: red;
	cursor: ew-resize;
}

#resizebar:hover {
	background: green;
}

#resizebarActive {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 5px;
	z-index: 2;
	background: green;
	cursor: ew-resize;
	display: none;
}

.SphereLabel {

	font-size: 4em;
}