#sourceViewer{
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	background: #272822;
	overflow: auto;
}

.sourceViewerPanel {

	width: 98%;
	margin-right: 1%;
	margin-left: 1%;
	padding-bottom: 15px;
	border-top: 1px solid #333434;
}

.sourceViewerPanel .closeOpen { 
	float:right;
	cursor: pointer;
}

.sourceViewerPanel .closeOpen:hover {
	color: white;
}

.sourceViewerPanel .title {
	
	margin-top:10px;
	font-size: 1.2em;
}

.sourceViewerPanel .tableContainer {
	
	width: 100%;
	border: 1px solid #333434;
	border-radius: 5px;
	min-height: 60px;
	max-height: 300px;
	margin-top: 5px;

	background-color: #1B171B;
}

.sourceViewerPanel .tableContainer .headerContainer {
	width:100%;
	border-bottom: 1px solid #333434;
	height:30px;
	line-height: 30px;
}

.sourceViewerPanel .tableContainer .headerContainer .headerItem {
	float:left;
	overflow: hidden;
	font-size: 1.05em;
}

.sourceViewerPanel .tableContainer .three:first-child {
	width:59%;
	padding-left: 1%;
}

.sourceViewerPanel .tableContainer .three:nth-child(n+2) {
	width:20%;
	text-align: center;
}

.sourceViewerPanel .tableContainer .bodyContainer {
	width:100%;
	max-height:250px;
	overflow: auto;
	padding-top: 5px;
}
.sourceViewerPanel .tableContainer .bodyContainer .bodyRow {

	width: 99%;
	padding-left: 1%;
	height: 25px;
	line-height: 25px;
}
.sourceViewerPanel .tableContainer .bodyContainer .bodyItem {
	float: left;
	white-space: nowrap;
	overflow: hidden;
}

.sourceViewerPanel .tableContainer .bodyContainer .fileSelected {
	color:#00FFFF;
}

.sourceViewerPanel .tableContainer .four:first-child {
	width:54%;
	padding-left: 1%;
}

.sourceViewerPanel .tableContainer .currentName {
	color: #A6E22E;
}



.sourceViewerPanel .tableContainer .four:nth-child(n+2) {
	width:15%;
	text-align: center;
}

.sourceViewerPanelBottom {
	
	overflow: hidden;
	overflow:auto;
	position: relative;
	
}
.sourceViewerPanelBottom {
	padding-bottom:0;
}

.sourceViewerPanelBottom .sourceCode {
	
}

.sourceViewerPanelBottom .sourceCode .prism-directive {
	
	position: absolute;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	top:40px;
	bottom:0;
	left:0;
	right:0;
	overflow: auto;
	max-height: initial;
	padding-left: 3em;
	cursor: default;
}

