#explorerMenubarContainer {
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	height: 40px;

	background-color: #171A0B;
}

#explorerMenubarContainer .menu {
	position: relative;
	height: 40px;
	width: 160px;
	float:left;
	margin-left: 10px;
}

#explorerMenubarContainer .menu .menuItem {
	display: inline-block;
	width: 40px;
	height:40px;
	text-align: center;
	line-height: 40px;
	font-size: 14pt;
}

#explorerMenubarContainer .logo {
	background: green;
	width: 150px;
	height: 40px;
	float:left;
}

#explorerMenubarContainer .menu .logoMenuItem {
	width: 40px;
	height:40px;
	background: blue;
}

#explorerMenubarContainer .menu .menuItem:hover{
	color: #FFFFFF;
	cursor: pointer;
}