#explorerViewport {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow:hidden;
}

#initialWelcome {
	height: 100%;
	width:100%;
	background: #272822;
	overflow: auto;
	z-index: 1;
}

#initialWelcome .logo {

}

#initialWelcome .about {
	margin-left: 45px;
	float: left;
	width: 385px;
} 

#initialWelcome .gettingStarted {
	float: left;
	margin-left: 45px;
	width: 380px;
}
#initialWelcome .gettingStarted .step {
	margin-left: 5px;
	margin-bottom: 10px;
}
#initialWelcome .gettingStarted .step .stepTitle {
	margin-bottom: 7px;
}
#initialWelcome .gettingStarted .step .stepContent {
	margin-left: 5px;
}


#scopeViewer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

#resizebar {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 5px;
	z-index: 1;
	background: #7804A6;
	cursor: ew-resize;
}

#resizebar:hover {
	background: green;
}

#resizebarActive {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 5px;
	z-index: 2;
	background: #00FF00;
	cursor: ew-resize;
	display: none;
}

#scopeViewer .backdrop {
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	z-index: 1;

	background: white;
	
	-webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.4;
}
#scopeViewer .displayPanelContainer {
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	z-index: 2;
}

#scopeViewer .displayPanelContainer pre {

	max-width: 90%;
	max-height: 90%;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;	
}
