#explorerViewport {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow:hidden;
}

#initialWelcome {
	height: 100%;
	width:100%;
	background: #272822;
	overflow: auto;
	z-index: 1;
}

#initialWelcome .logo {
	height:300px; 
	width:550px;
	margin-left: auto;
	margin-right: auto;
}

#initialWelcome .gettingStarted {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background: #1B171B;
	border-radius: 10px;
	border: 1px solid #333434;
	padding: 10px;
}
#initialWelcome .gettingStarted .title {
	font-size: 16pt;
}

#initialWelcome .gettingStarted .step {
	margin-left: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #333434;
	padding-bottom: 10px;
}
#initialWelcome .gettingStarted .last {
	border-bottom: initial;
}
#initialWelcome .gettingStarted .step .stepTitle {
	margin-bottom: 7px;
	font-size: 14pt;
}
#initialWelcome .gettingStarted .step .stepContent {
	margin-left: 5px;
}


#scopeViewer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

#resizebar {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 5px;
	z-index: 1;
	background: #7804A6;
	cursor: ew-resize;
}

#resizebar:hover {
	background: green;
}

#resizebarActive {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 5px;
	z-index: 2;
	background: #00FF00;
	cursor: ew-resize;
	display: none;
}

#scopeViewer .backdrop {
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	z-index: 1;

	background: white;
	
	-webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.4;
}
#scopeViewer .displayPanelContainer {
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	z-index: 2;
}

#scopeViewer .displayPanelContainer pre {

	max-width: 90%;
	max-height: 90%;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;	
}
