#explorerMenubarContainer {
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	height: 50px;

	background-color: #171A0B;
}

#explorerMenubarContainer .menu {
	position: relative;
	height: 50px;
	float:left;
	margin-left: 10px;
}

#explorerMenubarContainer .rightright {
	float:right;
	margin-right: 50px;
	position: relative;
	height: 50px;
}
#explorerMenubarContainer .rightright .demoItem {
	display: inline-block;
	width: 40px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 18pt;
}

#explorerMenubarContainer .rightright .demoItem:hover{
	color: #333434;
	cursor: pointer;
}

#explorerMenubarContainer .menu .menuItem {
	display: inline-block;
	width: 40px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 18pt;
}

#explorerMenubarContainer .logo {
	
	width: 162px;
	height: 50px;
	float:left;
}



#explorerMenubarContainer .menu .menuItem:hover{
	color: #333434;
	cursor: pointer;
}

.tooltip {
	background: #57594e;
	font-size: 12pt;
	color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #333434;

	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;
}