#ng-pageslide {
	background: #272822;	
}

#createPageSlide {
	cursor: default;
}

#ng-pageslide .pageSlideHeader {

	height: 25px;
	width:100%;
	border-bottom: 1px solid #333434;
	margin-bottom: 10px;
}

#ng-pageslide .pageSlideHeader .closeIcon {
	position: absolute;
	top:8px;
	right:10px;
	cursor: pointer;
	font-size: 14pt;
}

#ng-pageslide .pageSlideHeader .closeIcon:hover {
	color: white;
}

#ng-pageslide .pageSlideHeader .title {
	font-size: 1.1em;
	width:100%;
	text-align: left;
	margin-top: 10px;
	padding-left: 20px;
}

#createPageSlide .pageSlideBody {

	width: 100%;
}

#createPageSlide .pageSlideBody .buttonBar {
	width:100%;
}
#createPageSlide .pageSlideBody .buttonBar span {
	
	display: block;
	margin-left: 20px;
	height:30px;
	line-height: 30px;
	cursor: pointer;
	width:330px;
	border-radius: 4px;

}

#createPageSlide .pageSlideBody .buttonBar .icon {
	float: right;
	padding-right: 5px;
}

#createPageSlide .pageSlideBody .buttonBar span:hover {
	background: #A8A8A8;
	color: #272822;
}

#createPageSlide .pageSlideBody .buttonBar span:active {
	background: #FFFFFF;
} 

#createPageSlide .pageSlideBody .buttonBar .borderBottom {
	border-bottom: 1px solid #333434;
}

#createPageSlide .pageSlideBody .tableContainer {

	border: 1px solid #333434;
	border-radius: 4px;
	height: 300px;
	width: 334px;
	overflow-y: auto;
	background-color: #1B171B;
	margin-left: 20px;

	margin-top: 10px;
	margin-bottom: 10px;
}

#createPageSlide .pageSlideBody .tableContainer .row {

	height: 25px;
	line-height: 25px;
	margin-left: 5px;

}

#createPageSlide .pageSlideBody .tableContainer .row .left {
	float: left;
}

#createPageSlide .pageSlideBody .tableContainer .row .right {
	float: right;
	margin-right: 5px;
}

#createPageSlide .pageSlideBody .tableContainer .valid {
	color:green;
}

#createPageSlide .pageSlideBody .tableContainer .notValid {
	color:red;
}

#ng-pageslide .pageSlideBody {
	width: 100%;
}

#ng-pageslide .pageSlideBody .option {

	margin-left: 20px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #1B171B;
	border-radius: 5px;
	padding: 3px;
}

#ng-pageslide .pageSlideBody .option .title{

	border-bottom: 1px solid #333434;
}

#ng-pageslide .pageSlideBody .option .steps {
	padding-left: 5px;
	padding-right: 5px;
}

#ng-pageslide .pageSlideBody .option .steps .step {
	margin-top: 10px;
}

#ng-pageslide .pageSlideBody .option .steps .step .stepTitle {
	margin-bottom: 5px;
}

#ng-pageslide .pageSlideBody .option .steps .step .stepContent {
 margin-left: 5px;	
}

.pageSlideBody .content {
	margin-left: 17px;
	width: 320px;
	text-align: justify;
}
.pageSlideBody .content a {
	text-decoration: none;
	color:white;
}

.pageSlideBody .content a:hover {
	color: #55ffff;
}

.pageSlideBody .contentFeedback {
	
	border-radius: 5px;
	margin-left: 20px;

}

div.contentFeedback a {

	text-decoration: none;
	color: #55ffff;
}

div.contentFeedback a:hover {

	color: white;
}
