div(id="explorerMenubarContainer" class="Panel" ng-controller="explorerMenubarCtrl")
	
	div.logo
		img(src="img/logo.svg" ng-click="hideWelcome()" style="cursor:pointer;")

	div( class="menu" )
		div( class="menuItem" tooltip content="{{createTooltip}}" ttclass="tooltip" ng-click="toggleSlider( 'create' )")
			i(class="fa fa-plus-circle")
		div( class="menuItem" tooltip content="{{helpTooltip}}" ttclass="tooltip" ng-click="toggleSlider( 'help' )")
			i(class="fa fa-question")
		div( class="menuItem" tooltip content="{{aboutTooltip}}" ttclass="tooltip" ng-click="toggleSlider( 'about' )")
			i(class="fa fa-info")
		div( class="menuItem" tooltip content="{{feedbackTooltip}}" ttclass="tooltip" ng-click="toggleSlider( 'feedback' )")
			i(class="fa fa-comment")

	div( class="rightright" )
		div( class="demoItem" ng-click="toggleSlider( 'demo' )" )
			|Demo

	div( pageslide="left" ps-size="365px" ps-open="showCreate" ps-target="#createPageSlide" ps-custom-top="51px" )
	div( pageslide="left" ps-size="365px" ps-open="showHelp" ps-target="#helpPageSlide" ps-custom-top="51px" )
	div( pageslide="left" ps-size="365px" ps-open="showAbout" ps-target="#aboutPageSlide" ps-custom-top="51px" )
	div( pageslide="left" ps-size="365px" ps-open="showFeedback" ps-target="#feedbackPageSlide" ps-custom-top="51px" )
	div( pageslide="top"  ps-size="500px" ps-open="showDemo" ps-target="#demoPageSlide" ps-custom-top="50px" )

	div#createPageSlide.borderRight
		include sliders/create

	div#helpPageSlide.borderRight
		include sliders/help

	div#aboutPageSlide.borderRight
		include sliders/about

	div#feedbackPageSlide.borderRight
		include sliders/feedback

	div#demoPageSlide
		include sliders/demo
