div(id="explorerMenubarContainer" class="Panel" ng-controller="explorerMenubarCtrl")
	
	div.logo
		| EsExplore

	div( class="menu" )
		div( class="menuItem" ng-click="toggleSlider( 'create' )")
			i(class="fa fa-plus-circle")
		div( class="menuItem" ng-click="toggleSlider( 'settings' )")
			i(class="fa fa-cog")
		div( class="menuItem" ng-click="toggleSlider( 'help' )")
			i(class="fa fa-question")
		div( class="menuItem")
			i(class="fa fa-info")

	div( pageslide="left" ps-size="365px" ps-open="showCreate" ps-target="#createPageSlide" ps-custom-top="41px" )
	div( pageslide="right" ps-open="showSettings" ps-target="#settingsPageSlide" ps-custom-top="41px" )
	div( pageslide="right" ps-open="showHelp" ps-target="#helpPageSlide" ps-custom-top="41px" )

	div(id="createPageSlide")
		include sliders/create

	div(id="settingsPageSlide")
		include sliders/settings

	div(id="helpPageSlide")
		include sliders/help