//-div(id="sourceViewer" ng-controller="sourceViewerCtrl")
//-is container

//- Files panel
div.sourceViewerPanel
	span.closeOpen(ng-click="toggle.showFiles = !toggle.showFiles")
		span.fa.fa-minus-square-o.fa-2x(ng-show="toggle.showFiles")
		span.fa.fa-plus-square-o.fa-2x(ng-show="!toggle.showFiles")
	div.title
		span
			| Files	

	div.tableContainer(ng-show="toggle.showFiles")
		div.headerContainer
			div.headerItem.three Name
			div.headerItem.three Lines
			div.headerItem.three Scopes
		div.bodyContainer
			div.bodyRow(ng-repeat="file in files" ng-class=" {fileSelected: file.selected}")
				div.bodyItem.three  {{ file.name }}
				div.bodyItem.three  {{ file.getLineNr() }}
				div.bodyItem.three  {{ file.getScopeCount() }}

//- Current selected scope panel
div.sourceViewerPanel
	span.closeOpen(ng-click="toggle.showCurrent = !toggle.showCurrent")
		span.fa.fa-minus-square-o.fa-2x(ng-show="toggle.showCurrent")
		span.fa.fa-plus-square-o.fa-2x(ng-show="!toggle.showCurrent")
	div.title
		| Current
	div.tableContainer(ng-show="toggle.showCurrent")
		div.headerContainer
			div.headerItem.four Name
			div.headerItem.four Start
			div.headerItem.four End
			div.headerItem.four Children
		div.bodyContainer
			div.bodyRow
				div.bodyItem.four {{selectedScope.name}}
				div.bodyItem.four {{selectedScope.startLoc}}
				div.bodyItem.four {{selectedScope.endLoc}}
				div.bodyItem.four {{selectedScope.children.length}}

//- Current selected scopes children Panel
div.sourceViewerPanel
	span.closeOpen(ng-click="toggle.showChildren = !toggle.showChildren")
		span.fa.fa-minus-square-o.fa-2x(ng-show="toggle.showChildren")
		span.fa.fa-plus-square-o.fa-2x(ng-show="!toggle.showChildren")
	div.title
		| Children
	div.tableContainer(ng-show="toggle.showChildren")
		div.headerContainer
			div.headerItem.four Name
			div.headerItem.four Start
			div.headerItem.four End
			div.headerItem.four Children
		div.bodyContainer
			div.bodyRow(ng-repeat="child in selectedScope.children")
				div.bodyItem.four {{ child.name }}
				div.bodyItem.four {{ child.startLoc }}
				div.bodyItem.four {{ child.endLoc }}
				div.bodyItem.four {{ child.children.length }}

//- Source panel
div.sourceViewerPanel.sourceViewerPanelBottom
	span.closeOpen(ng-click="toggle.showSource = !toggle.showSource")
		span.fa.fa-minus-square-o.fa-2x(ng-show="toggle.showSource")
		span.fa.fa-plus-square-o.fa-2x(ng-show="!toggle.showSource")
	div.title()
		| Source Code
	div.sourceCode(ng-show="toggle.showSource")

		pre(prism-directive)