//-div(id="sourceViewer" ng-controller="sourceViewerCtrl")
//-is container

//- Files panel
div.sourceViewerPanel
	span.closeOpen(ng-click="showFiles = !showFiles")
		span.fa.fa-minus-square-o.fa-2x(ng-show="showFiles")
		span.fa.fa-plus-square-o.fa-2x(ng-show="!showFiles")
	div.title
		span
			| Files	

	div.tableContainer(ng-show="showFiles")
		div.headerContainer
			div.headerItem.three Name
			div.headerItem.three Lines
			div.headerItem.three Scopes
		div.bodyContainer
			div.bodyRow(ng-repeat="file in files")
				div.bodyItem.three  {{ file.name }}
				div.bodyItem.three  {{ file.getLineNr() }}
				div.bodyItem.three  {{ file.getScopeCount() }}

//- Current selected scope panel
div.sourceViewerPanel
	span.closeOpen(ng-click="showCurrent = !showCurrent")
		span.fa.fa-minus-square-o.fa-2x(ng-show="showCurrent")
		span.fa.fa-plus-square-o.fa-2x(ng-show="!showCurrent")
	div.title
		| Current
	div.tableContainer(ng-show="showCurrent")
		div.headerContainer
			div.headerItem.four Name
			div.headerItem.four Start
			div.headerItem.four End
			div.headerItem.four Children
		div.bodyContainer
			div.bodyRow
				div.bodyItem.four {{selectedScope.name}}
				div.bodyItem.four {{selectedScope.startLoc}}
				div.bodyItem.four {{selectedScope.endLoc}}
				div.bodyItem.four {{selectedScope.children.length}}

//- Current selected scopes children Panel
div.sourceViewerPanel
	span.closeOpen(ng-click="showChildren = !showChildren")
		span.fa.fa-minus-square-o.fa-2x(ng-show="showChildren")
		span.fa.fa-plus-square-o.fa-2x(ng-show="!showChildren")
	div.title
		| Children
	div.tableContainer(ng-show="showChildren")
		div.headerContainer
			div.headerItem.four Name
			div.headerItem.four Start
			div.headerItem.four End
			div.headerItem.four Children
		div.bodyContainer
			div.bodyRow(ng-repeat="child in selectedScope.children")
				div.bodyItem.four {{ child.name }}
				div.bodyItem.four {{ child.startLoc }}
				div.bodyItem.four {{ child.endLoc }}
				div.bodyItem.four {{ child.children.length }}

//- Source panel
div.sourceViewerPanel.sourceCodeViewAb
	span.closeOpen(ng-click="showSource = !showSource")
		span.fa.fa-minus-square-o.fa-2x(ng-show="showSource")
		span.fa.fa-plus-square-o.fa-2x(ng-show="!showSource")
	div.title()
		| Source Code
	div.sourceCode(ng-show="showSource")
		
		div(ng-show="source.global")
			h3
				|Global Scope is currently selected. 
			h5
				|To view Source code select a file global scope
			ul
				li Left click to select/expand
				li Right click to undo

		div(ng-repeat="file in files" ng-show="file.showSource")
			pre
				code(class="language-javascript")
					{{ file.source }}