div#initialWelcome(ng-show="showWelcome")

	div.logo
		img.logo(src="img/logo.svg")

	div.gettingStarted
		div.title
			h3 Getting Started
		div.step
			div.stepTitle
				|Step 1
			div.stepContent
				|Click on the  
				i.fa.fa-plus-circle.fa-2x
				|  symbol located on the top menubar
		div.step
			div.stepTitle
				|Step 2
			div.stepContent
				|Click on add file(s) 
				|  or add folder 
				|  and select desired folder / file(s).
				|  Please note that currently only JavaScript files are supported.

				br
		div.step.last
			div.stepTitle
				|Step 3
			div.stepContent
				|Click on create 
				i.fa.fa-dot-circle-o
				|  to create a sphere diagram, representing the javascript scope chain hierarchy.