div.createPageSlide.Panel
	div.pageSlideHeader
		
		div.closeIcon(ng-click="toggleSlider('create')")
			i.fa.fa-times
		div.title
			|Create a visualisation

	div.pageSlideBody

		div.buttonBar(uploader)
			span.borderBottom
				| Add File(s)
				input( type="file" multiple="" style="display:none;")

		div.buttonBar(uploader)
			span
				| Add Folders(s)
				input( type="file" webkitdirectory style="display:none;")

		div.tableContainer
				div.row(ng-repeat="file in files")
					span 
						{{ file.name }}
					span.right
						i.fa.fa-check.valid(ng-show="file.isValid")
						i.fa.fa-times.notValid(ng-hide="file.isValid")


		div.buttonBar(ng-click="resetRepo()")
			span.borderBottom
				|Clear

		div.buttonBar(ng-click="createVisualisation()")
			span
				|Create


			
