div.createPageSlide.Panel
	div.pageSlideHeader
		
		div.closeIcon(ng-click="toggleSlider('create')")
			i.fa.fa-times
		div.title
			|Create a visualisation

	div.pageSlideBody

		div.buttonBar(uploader)
			span.borderBottom
				| Add File(s)
				input( type="file" multiple="" style="display:none;")
				div.icon
					i.fa.fa-files-o

		div.buttonBar(uploader)
			span
				| Add Folders(s)
				input( type="file" webkitdirectory style="display:none;")
				div.icon
					i.fa.fa-folder-open-o

		div.tableContainer
				div.row(ng-repeat="file in files")
					span 
						{{ file.name }}
					span.right
						i.fa.fa-check.valid(ng-show="file.isValid")
						i.fa.fa-times.notValid(ng-hide="file.isValid")

		div.buttonBar(ng-click="addExample()")
			span.borderBottom
				|Add Example File
				div.icon
					i.fa.fa-file-o


		div.buttonBar(ng-click="resetRepo()")
			span.borderBottom
				|Clear
				div.icon
					i.fa.fa-eraser

		div.buttonBar(ng-click="createVisualisation()")
			span
				|Create
				div.icon
					i.fa.fa-dot-circle-o


			
