
div.pageSlideHeader
	
	div.closeIcon(ng-click="toggleSlider('create')")
		i.fa.fa-times
	div.title
		|Create a visualisation

div.pageSlideBody

	div.buttonBar
		uploader
			button(class="esExploreButton") Add File(s)
			input( type="file" multiple="" style="display:none;")

		uploader
			button(class="esExploreButton") Add Folders(s)
			input( type="file" webkitdirectory style="display:none;")

	div.tableContainer
			table
				tr(ng-repeat="file in repo.files" ng-class="valid:file.isValid, notValid: file.isValid")
					td
						{{ file.name }}

		div( class="buttonArrange" )

			button(class="topcoat-button--large--cta") Reset

			button(class="topcoat-button--large--cta" ng-click="createVisualisation()") Create


		
