div
	div.pageSlideHeader
		
		div.closeIcon(ng-click="toggleSlider('feedback')")
			i.fa.fa-times
		div.title
			|Feedback

	div.pageSlideBody

		div.contentFeedback
			|It would be awesome if you could leave some feedback.
			br
			br
			|Below are links to questionnaires, feel free to complete one or more.
			br
			br
			a(href="https://www.surveymonkey.com/s/XC98KGB") Perceived Usefulness and Ease of Use
			br
			br
			a(href="https://www.surveymonkey.com/s/XWFVL5K") Nielsen’s heuristic evaluation
			br
			br
			a(href="https://www.surveymonkey.com/s/XWRZHKB") General Evaluation
	
