div( class="pageSlideContentContainer inheritFromParent")
	div(class="pageSlideHeader")
		span(class="pageSlideHeaderTitle")
			| Create a visualisation
		i(class="fa fa-times fa-2x"  style=" float:right;" ng-click="toggleSlider('create')")

	div(class="pageSlideBody")

		div( class="buttonArrange" )

			uploader
				button(class="topcoat-button--large--cta") Add File(s)
				input( type="file" multiple="" style="display:none;")

			uploader
				button(class="topcoat-button--large--cta") Add Folders(s)
				input( type="file" webkitdirectory style="display:none;")

		div( class="tableContainer" )
			table
				tr(ng-repeat="file in repo.files")
					td
						{{ file.name }}

		div( class="buttonArrange" )

			button(class="topcoat-button--large--cta") Reset

			button(class="topcoat-button--large--cta" ng-click="createVisualisation()") Create
