div(class="aside" style="top:40px;" tabindex="-1" role="dialog")
  div(class="aside-dialog")
    div(class="aside-content")
      div(class="aside-header")
        button(type="button" class="close" ng-click="$hide()")|Close
          h4(class="aside-title" ng-bind="title")
      div(class="aside-body")
      div(class="aside-footer")
        button(type="button" class="btn btn-default" ng-click="$hide()")|Close