div( class="pageSlideContentContainer inheritFromParent")
	div(class="pageSlideHeader")
		span(class="pageSlideHeaderTitle")
			| Create a visualisation
		i(class="fa fa-times fa-2x"  style=" float:right;" ng-click="open('create')")

	div(class="pageSlideBody")

		div( class="buttonArrange" )
			button(class="topcoat-button--large--cta")
				| Add File(s)

			button(class="topcoat-button--large--cta")
				| Add Folders(s)

		div( class="tableContainer" )
