//- this page gets inserted by ui-view 
//- controller: explorerCtrl

//- explorerMenubarCtrl
include explorer/explorerMenubar

//- explorerviewport is a directive
//- split resizable
div(explorer-viewport id="explorerViewport" class="Panel")
	
	//- container for renderers, three ->directive takes care of init
	div(id="scopeViewer" three ng-controller="scopeViewerCtrl" scope-source-directive )

	//- containers for source code viewer
	//- controller: sourceViewerCtrl
	div(id="sourceViewer" ng-controller="sourceViewerCtrl" source-viewer-directive )

		include explorer/sourceViewerContent
