.header(ng-controller='VisualizationMenubarCtrl')
	
	nav(id="menubarContainer")

		ul
			li
				i(class="fa fa-home fa-2x" ui-sref="home")

			li
				i(class="fa fa-plus fa-2x")

			li
				i(class="fa fa-cog fa-2x")

			li
				i(class="fa fa-question-circle fa-2x")
