div(id="visualisationViewport" class="Panel")
	
	div(id="visualisationTopMenuContainer")
		div( class="menu" )
			div( class="menuItem" ng-click="toggleSlider( 'create' )")
				i(class="fa fa-plus fa-2x")
			div( class="menuItem" ng-click="toggleSlider( 'settings' )")
				i(class="fa fa-cog fa-2x")
			div( class="menuItem" ng-click="toggleSlider( 'help' )")
				i(class="fa fa-question fa-2x")
			div( class="menuItem")
				i(class="fa fa-info fa-2x")
			div( class="menuItem pushRight")
				i(class="fa fa-globe fa-2x")
			div( class="menuItem")
				i(class="fa fa-eye fa-2x")

	div( pageslide="left" ps-size="400px" ps-open="showCreate" ps-target="#createPageSlide" ps-custom-top="41px" )
	div( pageslide="right" ps-open="showSettings" ps-target="#settingsPageSlide" ps-custom-top="41px" )
	div( pageslide="right" ps-open="showHelp" ps-target="#helpPageSlide" ps-custom-top="41px" )


	div(id="createPageSlide")
		ng-include( src="'partials/createPageSlideContent'" )

	div(id="settingsPageSlide")
		ng-include( src="'partials/settingsPageSlide'" )

	div(id="helpPageSlide")
		ng-include( src="'partials/helpPageSlideContent'" )

	div( ng-switch="viewSelection" id="visualisationContentContainer")
		div( ng-switch-when="explore" class="fullParent")
			div( ng-include="'partials/explore'" class="fullParent")
		div( ng-switch-when="detail" class="fullParent")
			div(  ng-include="'partials/detail'" class="fullParent")